<div class="profile-head" *ngIf="user.loggedIn; else elseBlock">
  <h2>
    <p>{{ user.first }}, {{ user.last }}</p>
  </h2>
  <img [src]="user.picture" alt="profil" />
</div>
<ng-template #elseBlock>
  <div class="profile-head">
    <h2>
      <p>Welcome, <br />Plan your Travel</p>
    </h2>
    <img
      src="https://avatars1.githubusercontent.com/u/65280810?s=400&v=4"
      alt="default"
    />
  </div>
</ng-template>
<div class="details">
  <div class="profile-details">
    <p>Personal Details</p>
    <div class="user-info">
      <mat-icon>date_range</mat-icon> {{ user.bday }} <br />
    </div>
    <div class="user-info">
      <mat-icon>location_on</mat-icon>{{ user.adress }} <br />
    </div>
    <div class="user-info">
      <mat-icon>email</mat-icon>{{ user.email }} <br />
    </div>
    <div class="user-info">
      <mat-icon>phone</mat-icon>{{ user.phone }} <br />
    </div>
    <button
      class="pink"
      mat-mini-fab
      aria-label="Example icon button with a menu icon"
      (click)="logOut()"
    >
      <mat-icon color="secondary">login</mat-icon>
    </button>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="mat-panel-title">
        <mat-icon>healing</mat-icon>
        <div class="mat-panel-title-description">
          Vaccination report
          <div class="side-description">your vaccinations</div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="expansion-card-description">YOUR VACCINATIONS</div>
    <div>
      <mat-card *ngFor="let item of user.vaccinations">{{ item }}</mat-card>
    </div>
    <div class="expansion-card-bottom">
      <mat-form-field>
        <mat-label>...add vaccination</mat-label>
        <input matInput placeholder="placeholder" [formControl]="newEntry" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addVaccine()">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="mat-panel-title">
        <mat-icon>preview</mat-icon>
        <div class="mat-panel-title-description">
          Passports & Visas
          <div class="side-description">your passports and visas</div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="expansion-card-description">YOUR PASSPORTS & VISAS</div>
    <div>
      <mat-card *ngFor="let item of user.passport">{{ item }}</mat-card>
    </div>
    <div class="expansion-card-bottom">
      <mat-form-field>
        <mat-label>...add passport or visa</mat-label>
        <input matInput placeholder="placeholder" [formControl]="newEntry" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addPassport()">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="mat-panel-title">
        <mat-icon>account_balance</mat-icon>
        <div class="mat-panel-title-description">
          Insurances
          <div class="side-description">your insurances</div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="expansion-card-description">YOUR INSURANCES</div>
    <div>
      <mat-card *ngFor="let item of user.insurance">{{ item }}</mat-card>
    </div>
    <div class="expansion-card-bottom">
      <mat-form-field>
        <mat-label>...add insurance</mat-label>
        <input matInput placeholder="placeholder" [formControl]="newEntry" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addInsurance()">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="mat-panel-title">
        <mat-icon>directions_car</mat-icon>
        <div class="mat-panel-title-description">
          Driver licenses
          <div class="side-description">your driver licenses</div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="expansion-card-description">YOUR DRIVER LICENCES</div>
    <div>
      <mat-card *ngFor="let item of user.license">{{ item }}</mat-card>
    </div>
    <div class="expansion-card-bottom">
      <mat-form-field>
        <mat-label>...add license</mat-label>
        <input matInput placeholder="placeholder" [formControl]="newEntry" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addLicense()">
        <mat-icon (click)="addLicense()">exposure_plus_1</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>
