img
  height: 120px
  width: 120px
  
mat-form-field + .mat-form-field 
  margin-left: 8px

example-action-buttons 
  padding-bottom: 20px


example-headers-align .mat-expansion-panel-header-title,
example-headers-align .mat-expansion-panel-header-description 
  flex-basis: 0


example-headers-align .mat-expansion-panel-header-description 
  justify-content: space-between
  align-items: center
