.pink
    background: #ff4081

.profile-head
    display: flex
    flex-direction: row
    justify-content : space-between
    background-color: #DFEAEF

.profile-head h2
    padding: 10% 0% 0% 5%
    font-family: Roboto
    font-style: normal
    font-weight: 300
    font-size: 22px
    line-height: 26px

.profile-head img
    margin: 10% 1% 0% 0%
    height: 40%
    width: 40%
    border-radius: 50%

.details
    border-radius: 10%
    background-color: #FFFFFF

.profile-details
    display: flex
    flex-direction: column
    justify-content : space-between

.profile-details p
    padding: 5% 0% 0% 5%
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 16px
    color: #000000

.user-info
    padding: 2% 0% 0% 5%
    display: flex
    flex-direction: row
    justify-content : flex-start

    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 14px

.user-info mat-icon
    padding: 0% 5% 0% 0%

.profile-details button
    margin: 0% 0% 5% 80%

.mat-panel-title
    width: 100%
    display: flex
    flex-direction: row
    justify-content : flex-start
    align-items : center

.mat-panel-title mat-icon
    padding: 0% 20% 0% 0%

.mat-panel-title-description
    width: 100%
    color: gray

.side-description
    font-size: 12px

.expansion-card-description
    font-family: Roboto
    font-style: normal
    font-weight: 999
    font-size: 12px
    line-height: 14px
    padding: 2% 0% 5% 0%

.expansion-card-bottom
    display: flex
    flex-direction: row
    justify-content : flex-start
    align-items : center
    padding: 5% 0% 0% 0%

.expansion-card-bottom button
    margin-left: 5%

mat-form-field + .mat-form-field 
    margin-left: 8px

example-action-buttons 
    padding-bottom: 20px
