.home
    height: 92vh
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around

.dashboard
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 20vh

.row
    display: flex
    flex-direction: row

button
    width: 20vw
    height: 20vw
    border: none
    background: lightblue
    margin: 5px

button:hover
    background: darkblue
