<div class="forum-main-view" *ngIf="!goToPost; else elseBlock">
  <div class="forum-card">
    <mat-card *ngFor="let post of all_posts">
      <div class="forum-card-body" (click)="seePost(post)">
        <div class="forum-card-question">
          {{ post.text }}
        </div>
        <div class="forum-card-bottom">
          <div class="forum-card-bottom-div">
            <mat-icon>schedule</mat-icon>
            {{ post.creation.getUTCMonth() + 1 }}
            {{ post.creation.getUTCDate() }}
            {{ post.creation.getUTCFullYear() }}
          </div>
          <div class="forum-card-bottom-div">
            <mat-icon>chat_bubble_outline</mat-icon>
            {{ post.replies.length }}
          </div>
          <div *ngIf="post.verified" class="forum-card-bottom-div">
            <mat-icon *ngIf="post.verified">check_circle_outline</mat-icon>
            verified
          </div>
        </div>
      </div>
      <div class="forum-card-upvotes">
        <mat-icon
          (click)="vote(post, 'up')"
          [ngStyle]="{ color: post.voted_up ? 'gray' : 'black' }"
        >
          keyboard_arrow_up</mat-icon
        >
        {{ post.upvote }}
        <mat-icon
          (click)="vote(post, 'down')"
          [ngStyle]="{ color: post.voted_down ? 'gray' : 'black' }"
        >
          keyboard_arrow_down</mat-icon
        >
      </div>
    </mat-card>
  </div>
  <div class="forum-form">
    <mat-form-field appearance="outline">
      <mat-label>Ask a question ...</mat-label>
      <input matInput placeholder="placeholder" [formControl]="newQuestion" />
      <mat-icon (click)="createPost()" matSuffix>send</mat-icon>
    </mat-form-field>
  </div>
</div>

<ng-template #elseBlock>
  <div class="forum-post-view">
    <mat-card (click)="seePost('back')">
      <div class="forum-card-body" (click)="seePost(seenPost)">
        <div class="forum-card-question">
          {{ seenPost.text }}
        </div>
        <div class="forum-card-bottom">
          <div class="forum-card-bottom-div">
            <mat-icon>schedule</mat-icon>
            {{ seenPost.creation.getUTCMonth() + 1 }}
            {{ seenPost.creation.getUTCDate() }}
            {{ seenPost.creation.getUTCFullYear() }}
          </div>
          <div class="forum-card-bottom-div">
            <mat-icon>chat_bubble_outline</mat-icon>
            {{ seenPost.replies.length }}
          </div>
          <div *ngIf="seenPost.verified" class="forum-card-bottom-div">
            <mat-icon *ngIf="seenPost.verified">check_circle_outline</mat-icon>
            verified
          </div>
        </div>
      </div>
      <div class="forum-card-upvotes">
        <mat-icon
          (click)="vote(seenPost, 'up')"
          [ngStyle]="{ color: seenPost.voted_up ? 'gray' : 'black' }"
        >
          keyboard_arrow_up</mat-icon
        >
        {{ seenPost.upvote }}
        <mat-icon
          (click)="vote(seenPost, 'down')"
          [ngStyle]="{ color: seenPost.voted_down ? 'gray' : 'black' }"
        >
          keyboard_arrow_down</mat-icon
        >
      </div>
    </mat-card>

    <div class="reply-card" *ngFor="let reply of seenPost.replies">
      <div class="reply-card-body">
        <div class="reply-card-question">
          {{ reply.text }}
        </div>
        <div class="reply-card-bottom">
          <div class="reply-card-bottom-div">
            <mat-icon>schedule</mat-icon>
            {{ reply.creation.getUTCMonth() + 1 }}
            {{ reply.creation.getUTCDate() }}
            {{ reply.creation.getUTCFullYear() }}
          </div>
        </div>
      </div>
      <div class="reply-card-upvotes">
        <mat-icon
          (click)="vote(reply, 'up')"
          [ngStyle]="{ color: reply.voted_up ? 'gray' : 'black' }"
        >
          keyboard_arrow_up</mat-icon
        >
        {{ reply.upvote }}
        <mat-icon
          (click)="vote(reply, 'down')"
          [ngStyle]="{ color: reply.voted_down ? 'gray' : 'black' }"
        >
          keyboard_arrow_down</mat-icon
        >
      </div>
    </div>
  </div>
  <div class="forum-form">
    <mat-form-field appearance="outline">
      <mat-label>Write a reply ...</mat-label>
      <input matInput placeholder="placeholder" [formControl]="newQuestion" />
      <mat-icon (click)="createReply()" matSuffix>send</mat-icon>
    </mat-form-field>
  </div>
</ng-template>
