<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToProfile()">
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="goToDashboard()">
      <mat-icon>dashboard</mat-icon>
      <span>Travel</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>login</mat-icon>
      <span>LogOut</span>
    </button>
  </mat-menu>

  <span>Covid Travel Buddy</span>
</mat-toolbar>
