mat-toolbar
    display: flex
    flex-direction: row  
    justify-content : space-between
    align-items : center
  

   
.example-spacer
    flex: 1 1 auto

img
  height: 50%
  width: 50%
  
.navbar-right
    display: flex
    flex-direction: row  
    justify-content : space-around
    align-items : center
    cursor: pointer

    width: 15%