.news
    display: flex
    flex-direction: column

.news mat-card
    padding: 5% 0% 0% 0%

.card
    display: flex
    flex-direction: row
    justify-content : flex-start
    align-items : center

.body
    width: 80%
    display: flex
    flex-direction: column
    justify-content : space-between
    padding-left: 2%

.body h2
    margin:  0% 0% 2% 0%
    font-size: 14px
    line-height: 18px

.news-bottom 
    opacity: 50%
    display: flex
    flex-direction: row
    justify-content : flex-start

.link
    padding: 0% 0% 0% 5%


.image 
    width : 20%

.image img 
    max-width: 100%