<div class="dashboard-welcome" [ngSwitch]="user.loggedIn">
  <section *ngIf="user.loggedIn; else elseBlock">
    <h2>
      <p>
        Welcome {{ user.first }}, <br />
        Plan your Travel!
      </p>
    </h2>
  </section>
  <ng-template #elseBlock>
    <section>
      <h2>
        <p>Welcome, <br />Plan your Travel</p>
      </h2>
    </section>
  </ng-template>
</div>

<div class="dashboard-transport">
  <p>Choose type of transport</p>
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <button
          mat-fab
          color="primary"
          aria-label="icon button with a send icon"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button
          mat-fab
          color="accent"
          aria-label="icon button with a directions_car icon"
        >
          <mat-icon>directions_car</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button
          mat-fab
          color="warn"
          aria-label="icon button with a directions_bus icon"
        >
          <mat-icon>directions_bus</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button
          mat-fab
          color="primary"
          aria-label="icon button with a directions_boat icon"
        >
          <mat-icon>directions_boat</mat-icon>
        </button>
      </div>
      <div class="button-container">
        <button
          mat-fab
          color="primary"
          aria-label="icon button with a exposure_plus_1 icon"
        >
          <mat-icon>exposure_plus_1</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-travel">
  <p>From:</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Start Location</mat-label>
      <input
        matInput
        placeholder="placeholder"
        [formControl]="input.startPlace"
        required
      />
      <mat-icon matSuffix>location_on</mat-icon>
      <mat-hint>Where does your journey start?</mat-hint>
    </mat-form-field>
  </p>
  <p>To:</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Destination</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        [formControl]="input.endPlace"
        required
      />
      <mat-icon matSuffix>location_on</mat-icon>
      <mat-hint>Where do you want to go?</mat-hint>
    </mat-form-field>
  </p>
</div>

<div class="dashboard-date">
  <p>Choose dates</p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        [formControl]="input.startDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-hint>Choose a starting date</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        [formControl]="input.endDate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-hint>Choose an end date</mat-hint>
    </mat-form-field>
  </p>
</div>

<div class="dashboard-end">
  <button mat-raised-button color="primary" (click)="submit()">
    Create Checklist
  </button>
</div>
